BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Linux

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: false
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializersBeforeComma: true
DerivePointerAlignment: false
PointerAlignment: Left
UseTab: Never
IndentCaseLabels: true
