<launch>
  <arg name="gui" default="false" />
  <arg name="demo" default="false" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <param name="robot_description" textfile="$(find robotsimulation)/urdf/lynxmotion_arm.urdf" />
  <param name="use_gui" value="$(arg gui)"/>

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="beker_node" pkg="robotsimulation" type="beker_node" launch-prefix="xterm -e" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotsimulation)/config/config.rviz" required="true" />
  <node name="convert_node" pkg="robotsimulation" type="convert_node" launch-prefix="xterm -e" />
  <node if="$(arg demo)" name="cli_node" pkg="robotsimulation" type="cli_node" launch-prefix="xterm -e" />
</launch>
